.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.App .input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
}

.App input {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #CCC;
}

.App button {
  margin: 1vh;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  background-color: #007BFF;
  border-radius: 12px;
  border: transparent solid;
  width: 100px;
}


.App pre {
  text-align: left;
  width: 70%;
  padding: 20px;
  background-color: #ffff;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #CCC;
}

.App .title {
  background-color: gray;
  color: white;
  border: 0.2vh solid transparent;
  border-radius: 6vh;
  padding: 1vh 1.5vh;
  transition: 200ms;
  cursor: default;
}

.App .title:hover {
  scale: 105%;
}