.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  height: 100vh;
  background-color: #f0f0f0;
}

.App input {
  padding: 10px;
  font-size: 16px;
  width: 60%;
  margin-bottom: 20px;
}

.App button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.App pre {
  text-align: left;
  width: 60%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}
